.time-line {
  height: 50px;
  text-align: left;
  position: relative;
}

.time-line hr {
  position: absolute;
  bottom: 0px;
  margin: 0;
  width: calc(100% - 60px);
  left: 60px;
  background-color: #EAEAEA;
  height: 1px;
  border: 0;
}
