body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: #DDDDDD;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 900px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 1px 2px #C3C3C3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 0.5s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
